.coverflow-window-title-label {
    font-weight: bold;
    font-size: 20pt;
    font-family: sans-serif;
    color: white;
}

.coverflow-app-icon-box {
    background: rgba(0,0,0,0.4);
    border: 1px solid rgba(128,128,128,0.40);
    border-radius: 10px;
}
